/* Estilos comuns para todos os tamanhos de tela */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #00366c; /* Azul */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Adiciona posiÃ§Ã£o relativa para posicionar a logo */
}

.logo {
    position: absolute; /* PosiÃ§Ã£o absoluta para a logo */
    top: 20px; /* DistÃ¢ncia do topo */
    left: 20px; /* DistÃ¢ncia da esquerda */
    width: 100px; /* Largura da logo (ajuste conforme necessÃ¡rio) */
    height: auto; /* Altura ajustÃ¡vel conforme a largura */
    z-index: 1000; /* Coloca a logo acima de outros elementos se necessÃ¡rio */
}

.container {
    background-color: #ffc803; /* Amarelo */
    border-radius: 12px; /* Bordas arredondadas */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 60px;
    width: 400px;
    animation: slideIn 0.5s ease-out;
    margin-top: 100px; /* EspaÃ§amento do topo para a logo */
    
    
}

h1, h2 {
    text-align: center;
    color: #3a3a3a; /* Azul escuro */
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    color: #3a3a3a; /* Azul escuro */
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 20px);
    margin-top: 5px;
}

button {
    background-color: #4388f5; /* Azul */
    color: white;
    border: none;
    padding: 12px 0;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #356ac9; /* Tom mais escuro de azul */
}

#resultados {
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease-out;
}

#resultados div {
    margin-bottom: 10px;
}

#resultados span {
    font-weight: bold;
    color: #3a3a3a; /* Azul escuro */
}

/* Media Queries para telas menores que 768px */
@media only screen and (max-width: 767px) {
    body {
        padding: 20px; /* Adiciona espaÃ§amento interno para telas menores */
    }

    .container {
        width: 95%; /* Reduz a largura para 95% da largura da tela */
        max-width: none; /* Remove a largura mÃ¡xima para ocupar a largura total */
        margin: 20px auto; /* Centraliza o container na tela */
        padding: 20px; /* Adiciona um espaÃ§amento interno */
    }

    h1, h2 {
        font-size: 24px; /* Reduz o tamanho do texto para telas menores */
    }

    button {
        padding: 12px 0; /* Ajusta o tamanho dos botÃµes para telas menores */
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}