/* Estilos comuns para todos os tamanhos de tela */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #00366c; /* Azul */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Adiciona posição relativa para posicionar a logo */
}

.logo {
    position: absolute; /* Posição absoluta para a logo */
    top: 20px; /* Distância do topo */
    left: 20px; /* Distância da esquerda */
    width: 80px; /* Largura da logo (ajuste conforme necessário) */
    height: auto; /* Altura ajustável conforme a largura */
    z-index: 1000; /* Coloca a logo acima de outros elementos se necessário */
}

.container {
    background-color: #ffc803; /* Amarelo */
    border-radius: 12px; /* Bordas arredondadas */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 350px; /* Reduz a largura */
    animation: slideIn 0.5s ease-out;
    margin-top: 80px; /* Espaçamento do topo para a logo */
}

h1, h2 {
    text-align: center;
    color: #3a3a3a; /* Azul escuro */
    margin-bottom: 15px; /* Reduz a margem inferior */
    font-size: 24px; /* Reduz o tamanho da fonte */
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 12px; /* Reduz a margem inferior */
}

label {
    color: #3a3a3a; /* Azul escuro */
    font-weight: bold;
    font-size: 14px; /* Reduz o tamanho da fonte */
}

input[type="text"],
input[type="number"],
select {
    padding: 8px; /* Reduz o padding */
    font-size: 14px; /* Reduz o tamanho da fonte */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 16px); /* Ajusta a largura */
    margin-top: 5px;
}

button {
    background-color: #4388f5; /* Azul */
    color: white;
    border: none;
    padding: 10px 0; /* Reduz o padding */
    font-size: 14px; /* Reduz o tamanho da fonte */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #356ac9; /* Tom mais escuro de azul */
}

#resultados {
    margin-top: 15px; /* Reduz a margem superior */
    padding: 15px; /* Reduz o padding */
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease-out;
}

#resultados div {
    margin-bottom: 8px; /* Reduz a margem inferior */
}

#resultados span {
    font-weight: bold;
    color: #3a3a3a; /* Azul escuro */
}

/* Media Queries para telas menores que 768px */
@media only screen and (max-width: 767px) {
    body {
        padding: 20px; /* Adiciona espaçamento interno para telas menores */
    }

    .container {
        width: 90%; /* Reduz a largura para 90% da largura da tela */
        max-width: none; /* Remove a largura máxima para ocupar a largura total */
        margin: 20px auto; /* Centraliza o container na tela */
        padding: 20px; /* Adiciona um espaçamento interno */
    }

    h1, h2 {
        font-size: 20px; /* Reduz o tamanho do texto para telas menores */
    }

    button {
        padding: 10px 0; /* Ajusta o tamanho dos botões para telas menores */
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
